body{
    background-image: url("/public/img/Background_login.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: rgba(255, 255, 255,0.6);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem 20rem;
}
.Login, .Register, form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
form {
margin: 0 5em; 
}
.data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
}

label{
    font-size: 1.5em;
}
h2{
    background-color: rgb(85, 84, 84);
    color: white;
    padding: 0 2em;
}
input[type="email"],
input[type="password"],
input[type="text"]
{
    width: 30em;
    border-radius: 10px;
    box-shadow: 0.7em 1em 0.5em rgb(0,0,0,0.3);
}
.btn{
    margin: 2em 15em;
    font-size: 1em;
    border-radius: 5px;
    background: none;
}
.btn:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background: linear-gradient(90deg, rgb(25, 132, 151) 0%,rgb(8, 212, 144) 100%);
    color: white;
}
h1{
    color: white;
}